.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../public/bg2.png") center/ cover no-repeat;
  }
  
  .main {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40rem;
    height: 30rem;
  }

  .sobre h1 {
    margin-bottom: 0.5rem;
  }

  .sobre {
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 9rem;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translate(1rem);
  }
  
  .card img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1em;
    color: #333;
  }